* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* padding: 0; */
    text-align: center;
}

.main {
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#link {
    text-decoration: none;
    color: black;
}

#link:active {
    color: black;
}